body {
  background-color: #2B6AD6;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0px;
  color: black;
}

#content {
  background-color: #0836BF;
  width: 580px;
  margin: auto;
  padding: 20px 40px;
}

footer {
  display: block;
  font-size: 0.75em;
  width: 580px;
  margin: auto;
  padding: 20px 40px;
  text-align: center;
}

footer a, footer a:visited {
  color: #0836BF;
}

#content h1 {
 margin: 0 0 20px 0;
 color: white;
}
#version {
  font-size: 0.75em;
  color: #2B6AD6;
}

#score-board {
  margin-bottom: 20px;
}

#score-board th, #score-board td {
  padding: 10px;
  text-align: left;
}

#score-board tfoot td[class^=player-score] {
  color: white;
  padding-left: 17px;
  font-family: 'Lucida Grande', sans-serif;
}

a.remove-player {
  color: #2B6AD6;
  cursor: pointer;
}

input[type=text],
input[type=number] {
  font-family: 'Lucida Grande', sans-serif;
  height: 20px;
  padding: 4px 6px;
  font-size: 18px;
  border: 1px solid #888;
  -moz-box-shadow: inset 3px 3px 10px #b5b5b5;
  -webkit-box-shadow: inset 3px 3px 10px #b5b5b5;
  box-shadow: inset 3px 3px 10px #b5b5b5;
}

input[disabled] {
  background-color: #b5b5b5;
}

button {
  padding: 4px 6px;
  height: 30px;
  font-size: 18px;
  border: 0;
  background-color: #b5b5b5;
  -moz-box-shadow: 3px 3px 10px #333;
  -webkit-box-shadow: 3px 3px 10px #333;
  box-shadow: 3px 3px 10px #333;
}

button[disabled] {
  color: #888;
}

#new-player-name {
  width: 150px;
}

#refresh-btn {
  background-image: url('./refresh.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
  width: 30px;
}

#score-board input[type=number] {
  width: 66px;
}

#score-board tr.game-complete input[type=number] {
  color: green; 
}

#score-board tr.game-complete td.game-winner input[type=number] {
  background-color: #A6F5A8;
}

#score-board tr.game-invalid input[type=number] {
  color: red; 
}
